<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 fixed-column">
      <div class="sidebar">
        <div class="icon-container">
          <%= link_to "tweets" do %>
          <%= image_tag("twitter.png", alt: "Twitter Icon", class: "icon") %>
          <% end %>
          <%= link_to "search" do %>
            <%= image_tag("search.png", alt: "search Icon", class: "icon") %>
          <% end %>
          <%= image_tag("setting.png", alt: "setting Icon", class: "icon") %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container-main">
        <div class="row">
          <div class="col">
            <h1>Explorar</h1>
          </div>
          <div class="col">
            <%= image_tag("setting.png", alt: "setting Icon", class: "icon") %>
          </div>
        </div>
        <%= form_tag search_tweet_path, method: :get, class: "search-form" do %>
          <%= text_field_tag :q, params[:q], placeholder: 'Buscar tweets', class: "search-input" %>
          <%= submit_tag 'Buscar', class: "search-button" %>
        <% end %>
      </div>
      <h1>Resultados de búsqueda</h1>
      <% if @tweets.present? %>
        <p>Se encontraron <%= @tweets.count %> resultados para "<%= @termino %>".</p>
        <div id="tweets">
          <% @tweets.each do |tweet| %>
            <%= render tweet %>
            <div class="icon-container-tweet">
              <%= image_tag("chats.png", alt: "chats Icon", class: "icon-tweet") %>
              <%= image_tag("repost.png", alt: "repost Icon", class: "icon-tweet") %>
              <%= image_tag("love.png", alt: "love Icon", class: "icon-tweet") %>
              <%= image_tag("profit.png", alt: "profit Icon", class: "icon-tweet") %>
              <%= image_tag("share.png", alt: "share Icon", class: "icon-tweet") %>
            </div>
            <p>
              <%= link_to "Show this tweet", tweet %>
            </p>
            <%= will_paginate @tweets %>
        <% end %>
        </div>
      <% else %>
        <p>No se encontraron resultados para "<%= @termino %>".</p>
      <% end %>
    </div>
    <div class="col-lg-3 fixed-column">
      <div class="sidebar">
        <h1>¿Eres nuevo en Twitter?</h1>
        <h2 class="btn">Regístrate ahora</h2>
      </div>
    </div>
  </div>
</div>
